.filter__item {
    &:hover {
        color: $color-accent;
        font-weight: 700;
        cursor: pointer;
    }
    &.selected {
        color: $color-accent;
        font-weight: 700;
    }
}
.filter_popular {
    position: relative;
    top: 1px;
    @include flexRow(flex-start, center);
    gap: 10px;
    .filter__item {
        width: 17px;
        height: 17px;
        border: 2px solid $color-accent;
        border-radius: 50px;
        transition: 0.3s;
        &.selected {
            background-color: $color-accent;
        }
    }
    &:hover {
        cursor: pointer;
        .filter__item {
            background-color: $color-accent;
        }
    }
}
.filter__title {
    @include font(18px, $color-dark);
}
