@mixin flexColumn($justify: null, $align: null) {
    display: flex;
    flex-direction: column;
    @if $justify {
        justify-content: $justify;
    }
    @if $align {
        align-items: $align;
    }
}
@mixin flexRow($justify: null, $align: null) {
    display: flex;
    flex-direction: row;
    @if $justify {
        justify-content: $justify;
    }
    @if $align {
        align-items: $align;
    }
}
@mixin font($size: null, $family: null, $weight: null, $height: null, $color: null) {
    @if $size {
        font-size: $size;
    }
    @if $family {
        font-family: $family;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $height {
        line-height: $height;
    }
    @if $color {
        color: $color;
    }
}
@mixin font-source-sans($size: null, $color: null, $weight: null, $lh: false) {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    @if $size {
        font-size: $size;
    }
    @if $color {
        color: $color;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
}
